client/node_modules
.deps
.vscode
.vscode
build
db
test

client/pages/Test.js
client/src/contracts
client/build
client/.firebase
client/.firebaserc
client/firebase.json


truffle/contracts/.deploy
truffle/contracts/.deps
truffle/contracts/.states
truffle/contracts/artifacts
truffle/contracts/contents/artifacts
truffle/contracts/interfaces/artifacts

truffle/db
truffle/migrations
truffle/node_modules
truffle/test
truffle/testContract