.modal-body-row {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.modal-col {
  margin: 0;
  padding-right: 170px;
}

.card-custom {
  width: 10rem;
}

.selected-btn {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15rem;
}

.husband,
.wife {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20rem;
  background: transparent;
  border: 2px solid blue;
  cursor: pointer;
}

.husband {
  margin-right: 13rem;
}

.nft-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-breed {
  display: flex;
  justify-content: center;
}
