.screen-container {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: white;
  text-align: center;
}

.mint-card {
  top: 20vmin;
  width: 50vmin;
  position: absolute;
}

.card-content {
  padding: 20px;
  max-height: 100px;

  word-wrap: break-word;
}

.card-top {
  padding-bottom: 24px;
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
}

.card-middle {
  text-align: right;
  padding-top: 24px;
  padding-bottom: 24px;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 90px;
  min-height: 90px;
  padding: 10px 30px;
}

.card-button {
  position: absolute;
  top: 90px;
}

.confirm-button {
  position: absolute;
  background-image: url("../image/refresh.png");
  background-size: cover;
  width: 30px;
  height: 30px;
}

.explan {
  font-size: 17px;
  margin-top: 60px;
}
